*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'poppins';
}

/* =====Slide-in-animation===== */
.container{
    animation-name: slidein;
    animation-delay: 0;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-direction: normal;
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px#6d07f339;
    position: fixed;
    top: 0;
}

.nav-icon{
    display: none;
}

.logo{
   font-size: 2rem;
}

.logo img{
    padding-top:.5rem;
    padding-left: 2rem;
 }
 

.navlinks{
    display: flex;
    gap: 3rem;
    padding: 1rem;
}

.navlink{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 30px;
}

.top h2{
    color: #6e07f3;
    padding-top: 20px;
    font-size: 2rem;
    padding-bottom: 30px;
}

.text-container{
    padding: 30px;
}

.text-container h1{
    color: #330077;
}

.text-container{
    background-color: #cbffd7a9;
    color: black;
    padding: 40px;
    font-size: 1.2rem;
}


.links{
    font-size: 1.2rem;
    padding: 30px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.links a{   
    color: #5be9b9;
}


.links h3{
    padding-bottom: none;
}

.footer-details ul{
    display: flex;
    gap: 0.8rem;
    font-size: 2rem;
    padding: 20px;
    padding-left: 30px;
    padding-top: 0px;
}

.footer-details a{
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.footer-details a:hover{
    background: transparent;
}

.copyright{
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
}


footer{
    background-color: #6e07f3;
    width: 100%;
    color: white;
}


@media screen and (max-width:1024px) {

    /* ===Nav==== */

    .nav-icon{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .nav-icon #navclose{
        display: none;
    }

    .navlinks{
        position: fixed;
        top: 5rem;
        right: 5%;
        background: rgb(255, 255, 255);
        height: fit-content;
        width: 18rem;
        display: flex;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .navlinks a{
        width: 100%;
        height: 5.8rem;
        display: grid;
        place-items: center;
    }

    .navlinks a:hover{
        background-color: #6e07f3;
        color: white;
    }

}

@keyframes slidein{
    from{
      height: 0px;
      margin-top: 167px;
    }

    to{
      height: 100px;
      margin-top: 0px;
    }
}