*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'poppins';
}



.navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px #6d07f339;
    width: 100%;
    height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.nav-icon{
    display: none;
}

.logo{
   font-size: 2rem;
}

.logo img{
    padding-top:.5rem;
    padding-left: 2rem;
 } 

.navlinks{
    display: flex;
    gap: 3rem;
    padding: 1rem;
}

.navlink{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.container{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #cbffd7a9;
    padding: 4rem;
    border-radius: 1rem;
    gap: 4rem;
    height: 35rem;
    margin: 7rem auto;
}

.my-details{
    background-color: #05002d;
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
    bottom: 10rem;
    color: white;
    margin: 0 auto;
    margin-top: 4rem;
}



.contact img{
    width: 12rem;
    margin-bottom: 2rem;
}

.contact h2{
    margin-bottom: 1rem;
}

.contact p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact-details li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.social-details ul{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
    font-size: 2rem;
}

.social-details a{
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.social-details a:hover{
    background: transparent;
}


.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form-name{
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
}


input,textarea{
    width: 90%;
    padding: 1rem;
    background-color: #05002dc6;
    color: white;
    border: none;
    resize: none;
    font-size: 1rem;
}

.send-btn{
    width: 200px;
    height: 50px;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    background-color: #070070e2;
    color: white;
    font-size: 1.2rem;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.send-btn:hover{
    background-color: #3e00f8e2;
    color: white;
}

.send-btn a{
    color: white;
}


.links{
    font-size: 1.2rem;
    padding: 30px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.links a{   
    color: #5be9b9;;
}


.links h3{
    padding-bottom: none;
}

.footer-details ul{
    display: flex;
    gap: 0.8rem;
    font-size: 2rem;
    padding: 20px;
    padding-left: 30px;
    padding-top: 0px;
}

.footer-details a{
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.footer-details a:hover{
    background: transparent;
}

.copyright{
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
}


footer{
    background-color: #6e07f3;
    width: 100%;
    margin-top: 100px;
    color: white;
}




/* ====TABLET== */

@media screen and (max-width:1024px) {


    .container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .my-details{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact-form{
        align-self: center;
        margin-right: 1.5rem;
    }
}


/* ==MOBILE PHONE====*/

@media screen and (max-width:600px) {
    .container{
        grid-template-columns: 1fr;
        gap: 3rem;
        /* margin:0; */
        padding: 0;
        border-radius: 0;
    }

    .contact-form{
        margin:  0 1.5rem 3rem;
    }

    .my-details{
        margin: 20px;
    }

    .form-name{
        flex-direction: column;
    }
}

@media screen and (max-width:1024px) {

    /* ===Nav==== */

    .nav-icon{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .nav-icon #navclose{
        display: none;
    }

    .navlinks{
        position: fixed;
        top: 5rem;
        right: 5%;
        background: rgb(255, 255, 255);
        height: fit-content;
        width: 18rem;
        display: flex;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .navlinks a{
        width: 100%;
        height: 5.8rem;
        display: grid;
        place-items: center;
    }

    .navlinks a:hover{
        background-color: #6e07f3;
        color: white;
    }

}