*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'poppins';
    min-height: 100vh;
}


/* =====Slide-in-animation===== */
.container{
    animation-name: slidein;
    animation-delay: 0;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-direction: normal;
}


.navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 3px#6d07f339;
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.logo{
   font-size: 2rem;
}

.logo img{
   padding-top:.5rem;
   padding-left: 2rem;
}

.navlinks{
    display: flex;
    gap: 3rem;
    padding: 1rem;
}

.nav-icon{
    display: none;
}

.navlink{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
    margin-top: 70px;
}

.top{
    font-size: 1.2rem;
}

.about{
    font-size: 1.8rem;
}

.top h1:hover{
    -webkit-text-stroke: 1.25px rgb(0, 0, 0);
    color: transparent;
} 

.coding-images{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}



.bottom{
    background-color: #6e07f3;
    width: 100%;
    height: 380px;
    padding-top: 50px;
}

.bottom-text h2{
    padding-bottom: 10px;
}

.bottom-text{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
}


.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin: 30px;
    gap: .3rem;
    margin-top: 0;
}

.card{
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(74, 74, 74);
}

.card h1{
    text-align: center;
    font-size: 2rem;
}

.card p{
    padding: 20px;
    font-size: 1.2rem;
}
    
.card-image{
    margin: 0 auto;
    display: flex;
    margin-block: 10px;
    padding: 20px;
}

.card:nth-child(1){
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}
    
.card:nth-child(3){
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
}


.tools{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tools h2{
    color: #6e07f3;
}


.project{
    text-align: center;
    margin-bottom: 10px;
}

.project-text{
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.project h2{
    text-align: center;
    font-size: 2rem;
}

.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 100px;
    margin:0 auto;
    max-width: 1100px;
    width: 60vw;
}

.project-card{
    width: 300px;
    height: 300px;
    background-color: #5be9b9; 
    border-radius: 20px;
    margin-bottom: 20px;
}

.project-card img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.see-more{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid #5be9b9; 
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
}

.links{
    font-size: 1.2rem;
    padding: 30px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.links a{   
    color: #5be9b9;
}


.links h3{
    padding-bottom: none;
}

.footer-details ul{
    display: flex;
    gap: 0.8rem;
    font-size: 2rem;
    padding: 20px;
    padding-left: 30px;
    padding-top: 0px;
}

.footer-details a{
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.footer-details a:hover{
    background: transparent;
}

.copyright{
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
}

footer{
    background-color: #6e07f3;
    width: 100%;
    margin-top: 100px;
    color: white;
}




/* -------------PHONES -------*/
@media screen and (max-width:600px) {
    .main{
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 70px;
    }

    .top{
        font-size: 16px;
    }

    .about{
        font-size: 30px;
    }

    .image{
      margin: 0 auto;
        margin-top: 50px;
    }

    .bottom-text{
        max-width: 300px;
        margin: 0 auto;
        font-size: 16px;
    }


    .cards{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin: 30px;
        gap: .1rem;
    }

    .card{
        box-shadow: 3px 3px 3px grey;
        font-size: 20px;
        border-radius: none;
    }


    .card:nth-child(1){
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    
    .card:nth-child(3){
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius:0;
    }


    .project-cards{
        display: grid;
        grid-template-columns: 1fr;
        width: 60vw;
        gap: 2rem;
    }

    .coding-images{
        width: 80vw;
    }

    .see-more{
        width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

}

    @media screen and (max-width:1024px) {

    /* ===Nav==== */

    .nav-icon{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .nav-icon #navclose{
        display: none;
    }

    .navlinks{
        position: fixed;
        top: 5rem;
        right: 5%;
        background: rgb(255, 255, 255);
        height: fit-content;
        width: 18rem;
        display: flex;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .navlinks a{
        width: 100%;
        height: 5.8rem;
        display: grid;
        place-items: center;
    }

    .navlinks a:hover{
        background-color: #6e07f3;
        color: white;
    }

}

 




/* ------TABLET----------- */


@keyframes slidein{
      from{
        height: 0px;
        margin-top: 170px;
      }

      to{
        height: 100px;
        margin-top: 0px;
      }
}